#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding:0;
  text-align: center;
  color: white;
  box-sizing: border-box;
}
html {
  scroll-behavior:smooth !important;
 
}
body {
  background-color: #161e36;
}

/* 
#main{
  background-color: #394360;
} */